<div>
  <%= form_tag('/contents', method: :post) do %>
    タイトル:<%= text_field_tag :title %>
    本文:<%= text_area_tag :body %>
    状態:<%= select_tag :is_active, options_for_select(['有効', 1], ['無効', 2 ]) %>
    公開日:<%= time_field_tag :opened_at %>
    カテゴリー:<%= select_tag :category_id, options_for_select(@categories.map{|c| [c.name, c.id]}) %>
    <% if controller.action_name == 'edit' %>
      <%= submit_tag '更新する' %>
    <% else %>
      <%= submit_tag '登録する' %>
    <% end %>
  <% end %>
</div>
