<div>
  <%= form_for @user do |f| %>
    名前:<%= f.text_field :name %>
    アカウント名:<%= f.text_field :account_name %>
    パスワード<%= f.password_field :password %>
    パスワード(再入力)<%= f.password_field :password_confirmation %>
    <% if controller.action_name == 'edit' %>
      <%= f.submit '更新する' %>
    <% else %>
      <%= f.submit '登録する' %>
    <% end %>
  <% end %>
</div>
